NEXT_PUBLIC_SITE_URL="http://localhost:3000"

NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2025-02-19"
SANITY_API_READ_TOKEN=""
SANITY_REVALIDATE_SECRET=""

RESEND_API_KEY=""
CONTACT_EMAIL_TO=""
CONTACT_EMAIL_FROM="Portfolio <onboarding@resend.dev>"
